*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-light', Arial, Helvetica, sans-serif;
}
@font-face{
    font-family:Roboto-light;
    src: url(./fonts/Roboto-Light.ttf);
}
:root{
    --primary-color:#FFC628;
    --secondary-color:#00000020;
    --font-color:#00000080;
}
.table-section{
margin-left: 15%;
}
table{
    margin-top: 50px;
    outline: 0;
    border-collapse: collapse ;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--secondary-color);
    font-family: 'Roboto-light', Arial, Helvetica, sans-serif;
}
table tr,th,td{
    border: 1px solid var(--secondary-color);
}
table td, th{
   padding : 10px;
}
.period-column{
    color:var(--font-color);
    font-family: inherit;
}
.AZN-column, .USD-column{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 0px;
    color: var(--font-color);
    font-family: inherit;
}
th{
    color: var(--font-color);
    font-family: inherit; 
    padding: 0 40px;
}
th:nth-child(2),  th:nth-child(4){
    border-right:none;
}
th:nth-child(3), th:nth-child(5){
    border-left:none;
}

.currency-AZN-USD{
    position:absolute;
    transform:translateY(-70%) translateX(-18%);
    border: 1px solid var(--primary-color);
    padding: 5px 150px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
}
.calculator-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.amount-period-currency{
    display: flex;
    flex-direction: row;
    border:1px solid var(--secondary-color);
    border-radius: 20px;
}
.calculator-section h5{
    font-size:1.3em;
    margin-bottom: 7px;
    color:var(--font-color);
}
.calculator-section > p{
    font-size:1.625em;
    margin-top:0;
    font-family: 'Roboto-light', Arial, Helvetica, sans-serif;
}
input[type="range"]{
    height: 13px;
    width: 15vw;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: rgba(0,0, 0, 0.2002);
    border-radius: 25px;
    border: 0px solid #000101;
    display:block;
    /*margin-right:  20px; */
}
input[type=range]:focus {
    background:#FF96AB;
  }
.amount p, .period p, .currency p{
    font-size:15px;
    position:relative;
    color:var(--font-color);    
  }
#amount{
      font-size: 28px;
      font-weight: bold;
}
#period{
    font-size: 28px;
    font-weight: bold;
}
.currency select{
    width:180px;
    height: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}
.currency select:focus{
    border:none;
}
.amount, .period{
    border-right: 1px solid #00000040;
    padding: 0 10px;
    margin: 0 auto;
}
.currency{
    padding:0 10px;
    margin-top: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary-color);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:#f1f1f1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f1f1f1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.checkbox{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
   align-items: center;
   justify-content: center;
}
.checkbox div{
    margin-right:15px;
    margin-left: 15px;
}
.outputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outputs div:nth-child(1){
    border-right: 1px solid var(--secondary-color);
    padding-right: 30px;
    margin:40px 40px;
}
.outputs div:nth-child(2){
    border-right: 1px solid var(--secondary-color);
    padding-right: 60px;
    margin:40px 40px;
}

.monthly-interest-income{
    margin:40px 40px;
}
.outputs h5{
    color:var(--font-color);
    font-size: 14px;
    font-family: 'Roboto-light', Arial, Helvetica, sans-serif; 
}
.hiddenItem{
    display: none;
}



